body{
    font-family:  sans-serif;
}
.steps-sec{
    display: flex;
    justify-content: center;
}

.step-circle{
    width: 45px;
    height: 45px;
    background: #00a2ff;
    border-radius: 30px;
}

.steps-div p{
    font-size: 1.3rem;
}

.steps-div{
    display: flex;
}