body {
    font-family: 'Noto Sans Georgian', sans-serif;;
    margin: 0;
    padding: 0;
}

.container{
    width: 540px;
    height: 540px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-radius: 20px;
    box-sizing: border-box; 
    padding-left: 20px;
    
}

.register2{
    width: 540px;
    height: 450px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-radius: 20px;
    box-sizing: border-box; 
    padding-left: 20px
}

.register3 {
    width: 540px;
    height: auto !important;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-radius: 20px;
    box-sizing: border-box;
    padding-left: 20px;
    padding: 20px;
}


textarea{
    background:#e5e5e5;
    resize: none;
    width: 94%;
    border: none;
    height: 120px;
}

.steps-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap; 
}

.step-circle {
    width: 45px;
    height: 45px;
    background: #87D3FF ;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.step-circle::after {
    content: '✔';  
    color: white;
    font-size: 22px;
    position: absolute;
}

.steps-div p {
    font-size: 1.3rem;
    text-align: center;
}

.steps-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}

.line {
    width: 170px;
    height: 3px;
    background: black;
    margin-top: 4px;
}

h1 {
    font-size: 1.6rem;
}

form {
    display: flex;
    flex-direction: column;
    transform: translateY(-15px);
}

label {
    font-size: 1.1rem;
    margin: 5px;
}

input {
    background: #e5e5e5;
    width: 95%;
    height: 45px;
    border: none;
    font-size: 1rem;
    border-radius: 2px;
    padding-left: 10px;
    outline: none;
    box-sizing: border-box;
}

input::placeholder {
    color: #888;
}

button{
   width: 95%; 
   height: 45px;
   cursor: pointer;
   border: none;
   background: #00A2FF;
   color: white;
   transition: 0.34s;
   border-radius: 2px;
   font-size: 1.1rem;
   margin-top: 15px;
}

button:hover{
   background: #0395e9;
}

.fa-solid{
    transform: translateY(2px);
}

label{
    font-size: 16px;
}
/* responsive*/

@media (max-width: 600px) {


    h1 {
        font-size: 1.4rem;
    }

    input {
        height: 40px;
        font-size: 0.9rem;
    }

    label {
        font-size: 1rem;
    }
}

@media (max-width: 900px) {
    .container{
        height: 520px;
    }

    .register2{
        height: 460px;
    }

    h1 {
        font-size: 1.4rem;
    }

    input {
        height: 42px;
    }

    label {
        font-size: 1.1rem;
    }
}

@media (max-width: 590px) {
    .steps-sec {
        flex-direction: column;
        gap: 10px;
    }

    .step-circle {
        width: 35px;
        height: 35px;
    }

    .steps-div p {
        font-size: 1rem;
    }

    .line {
        width: 130px;
    }
}

@media (max-width:408px){
    .container,.register2,.register3{
        height: 530px !important;
    }
}


@media (max-width: 556px) {
    .container,.register2,.register3 {
        width: 90% !important;
        height: auto !important;
        padding: 15px !important;
    }

    h1 {
        font-size: 1.4rem;
    }

    input {
        height: 40px;
        font-size: 0.9rem;
    }

    label {
        font-size: 1rem;
    }



    .steps-sec {
        flex-direction: column;
        gap: 10px;
    }

    .step-circle {
        width: 35px;
        height: 35px;
    }

    .steps-div p {
        font-size: 1rem;
    }

    .line {
        width: 130px;
    }
}

@media (max-width:455px){
    h1{
        text-align: center;
    }
    form{
        justify-content: center;
        align-items: center;
    }
    .container,.register2,.register3{
        justify-content: center !important;
        align-items: center !important;
    }
}