.mainpart {
    position: relative;
    top: 0;
    left: 0;
    width: calc(100% - 40px);
    height: max-content;
    margin: 20px;
}

.title2 {
    position: relative;
    top: 0;
    left: 0;
    height: max-content;
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-family: "Itim";
    font-weight: bold;
    color: black;
}

.title3 {
    position: relative;
    top: 0;
    left: 0;
    height: max-content;
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-family: "Itim";
    font-weight: bold;
    color: black;
}

.table1 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    border: 1px solid gray;
    border-radius: 15px;
    margin-top: 20px;
    padding-bottom: 10px;
}

.button2 {
    position: relative;
    top: 0;
    left: 0;
    width: calc(100% - 40px);
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    background-color: #00A2FF;
    border-radius: 15px;
    color: white;
    font-size: 15px;
    font-family: "Itim";
    font-weight: bold;
}

.functions_div {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    margin-top: 20px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.function_div {
    position: relative;
    top: 0;
    left: 0;
    width: 310px;
    height: max-content;
    padding: 20px;
    border: gray 2px solid;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 30% 1% 69%;
}

.icon_div {
    position: relative;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: #00a2ff96;
    grid-column: 1;
    border-radius: 15px;
}

.icon2 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    transform: translate(-50%, -50%);
}

.title4 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    font-size: 20px;
    font-family: "Itim";
    font-weight: bold;
    color: black;
    padding: 0;
    margin: 0;
}

.title5 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    font-size: 15px;
    font-family: "Itim";
    font-weight: bold;
    color: black;
    padding: 0;
    margin: 0;
}