.head-div {
    width: 70%;
    height: 500px;
    margin: auto;
    background: linear-gradient(135deg, #00a2ff, #0077ff); 
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-out;
    gap:5px;
}

h1 {
    color: white;
    font-size: 2.1rem;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

p {
    color: rgb(230, 226, 226);
    font-size: 1.1rem;
    margin-top: 10px;
    text-align: center;
    opacity: 0;
    animation: fadeIn 1.5s ease-out 0.5s forwards;
}

.img-div{
    display: flex;
    justify-content: center;
}

.route-sec{
    margin: 20px;
}

.img-div img{
    width: 320px;
    height: 320px;
    background: #D9D9D9;
    object-fit: cover;
}

h2{
    padding-left: 155px;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 1.8rem;
    }

    p {
        font-size: 1rem;
    }
}