#header-div{
    display:flex;
} 

#header-div-text{
    display:flex;
    flex-direction: column;
    line-height: 10;
}

#header-div-text h1{
    font-size: 2rem;
    font-family: Sylfaen;
}

#header-div-text p{
    font-size: 1.1rem;
}