{% extends 'layout.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/blogs.css' %}">
{% endblock %}

{% block title %}
    ბლოგი
{% endblock %}

{% block body %}
    <div class="main-content">
            <!-- Left Section - Big Image -->
            <div class="left-section">
                <div class="big-image-container">
                    <div class="big-image-placeholder">image here</div>
                </div>
                
                <div class="big-image-title">
                    მოგესალმებით SkolaTrip-ზე: დაგეგმე შენი შემდეგი მოგზაურობა კლასთან ერთად, მარტივად!
                </div>
                
                <div class="learn-more-text">ისწავლე თუ როგორ ხდება ეს ყველაფერი</div>
                
                <!-- Author Info -->
                <div class="author-section">
                    <div class="author-avatar"></div>
                    <div class="author-details">
                        <div class="author-info">ბლოგის ავტორი: საბა დუმბაძე</div>
                        <div class="publish-date">2025/8/05 - 10 წუთის წასაკითხი</div>
                    </div>
                </div>
            </div>

            <!-- Right Section - Two Smaller Images -->
            <div class="right-section">
                <!-- First Small Image -->
                <div class="small-image-container">
                    <div class="small-image-placeholder">image here</div>
                </div>
                <div class="small-image-content">
                    <div class="small-image-title">ბლოგის სათაური აქ</div>
                    <div class="small-image-summary">ბლოგის ძალიან პატარა შეჯამება აქ</div>
                    <div class="small-image-meta">2025/8/2 - 12 წუთის წასაკითხი</div>
                </div>

                <!-- Second Small Image -->
                <div class="small-image-container">
                    <div class="small-image-placeholder">image here</div>
                </div>
                <div class="small-image-content">
                    <div class="small-image-title">ბლოგის სათაური აქ</div>
                    <div class="small-image-summary">ბლოგის ძალიან პატარა შეჯამება აქ</div>
                    <div class="small-image-meta">2025/8/2 - 12 წუთის წასაკითხი</div>
                </div>
            </div>
        </div>

        <!-- Blog Posts Grid -->
        <div class="blog-posts-container">
            <!-- Blog Post 1 -->
            <div class="blog-post">
                <div class="blog-post-image"></div>
                <div class="blog-post-title">ბლოგის სათაური აქ</div>
                <div class="blog-post-description">ბლოგის პატარა აღწერა აქ</div>
                <a href="#" class="read-more-button">
                    <span class="read-more-text">წაიკითხე</span>
                </a>
            </div>

            <!-- Blog Post 2 -->
            <div class="blog-post">
                <div class="blog-post-image"></div>
                <div class="blog-post-title">ბლოგის სათაური აქ</div>
                <div class="blog-post-description">ბლოგის პატარა აღწერა აქ</div>
                <a href="#" class="read-more-button">
                    <span class="read-more-text">წაიკითხე</span>
                </a>
            </div>

            <!-- Blog Post 3 -->
            <div class="blog-post">
                <div class="blog-post-image"></div>
                <div class="blog-post-title">ბლოგის სათაური აქ</div>
                <div class="blog-post-description">ბლოგის პატარა აღწერა აქ</div>
                <a href="#" class="read-more-button">
                    <span class="read-more-text">წაიკითხე</span>
                </a>
            </div>

            <!-- Blog Post 4 -->
            <div class="blog-post">
                <div class="blog-post-image"></div>
                <div class="blog-post-title">ბლოგის სათაური აქ</div>
                <div class="blog-post-description">ბლოგის პატარა აღწერა აქ</div>
                <a href="#" class="read-more-button">
                    <span class="read-more-text">წაიკითხე</span>
                </a>
            </div>

            <!-- Blog Post 5 -->
            <div class="blog-post">
                <div class="blog-post-image"></div>
                <div class="blog-post-title">ბლოგის სათაური აქ</div>
                <div class="blog-post-description">ბლოგის პატარა აღწერა აქ</div>
                <a href="#" class="read-more-button">
                    <span class="read-more-text">წაიკითხე</span>
                </a>
            </div>

            <!-- Blog Post 6 -->
            <div class="blog-post">
                <div class="blog-post-image"></div>
                <div class="blog-post-title">ბლოგის სათაური აქ</div>
                <div class="blog-post-description">ბლოგის პატარა აღწერა აქ</div>
                <a href="#" class="read-more-button">
                    <span class="read-more-text">წაიკითხე</span>
                </a>
            </div>

            <!-- Blog Post 7 -->
            <div class="blog-post">
                <div class="blog-post-image"></div>
                <div class="blog-post-title">ბლოგის სათაური აქ</div>
                <div class="blog-post-description">ბლოგის პატარა აღწერა აქ</div>
                <a href="#" class="read-more-button">
                    <span class="read-more-text">წაიკითხე</span>
                </a>
            </div>

            <!-- Blog Post 8 -->
            <div class="blog-post">
                <div class="blog-post-image"></div>
                <div class="blog-post-title">ბლოგის სათაური აქ</div>
                <div class="blog-post-description">ბლოგის პატარა აღწერა აქ</div>
                <a href="#" class="read-more-button">
                    <span class="read-more-text">წაიკითხე</span>
                </a>
            </div>
        </div>

    <script src="{% static 'js/blogs.js' %}"></script>
{% endblock %}