{% extends 'layout.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/changetrip.css' %}">
{% endblock %}

{% block title %}
    Change Trip
{% endblock %}

{% block body %}
    <h1 class="title">Change Trip</h1>

    <div class="container1">
        <img src="" class="container1-img" alt="">

        <h1 class="container1-title">Title here</h1>

        <input type="text" class="container1-input" placeholder="Stop1">
        <input type="text" class="container1-input" placeholder="Stop2">
        <input type="text" class="container1-input" placeholder="Stop3">
        <input type="text" class="container1-input" placeholder="Stop4">
        <input type="text" class="container1-input" placeholder="Stop5">
    </div>

    <script src="{% static 'js/changetrip.js' %}"></script>
{% endblock %}