{% extends 'layout.html' %}
{% load static %}


{% block head %}
    <!-- აქ ვწერთ რაც იწერება head ტეგში -->
    <link rel="stylesheet" href="{% static 'css/classregister.css' %}">
{% endblock %}

    <!-- ამის შიგნით ვწერთ რაც იწერება title ტეგში -->
{% block title %}
Register
{% endblock %}

{% block body %}
    <!-- აქ ვწერთ რაც იწერება body ტეგში -->
     <div class="steps-sec">
    <div class="steps-div">
        <div class="step-circle"></div>
        <p>Part 1</p>
        <div class="line"></div>
    </div>
    
    <div class="steps-div">
        <div class="step-circle"></div>
        <p>Part 2</p>
        <div class="line"></div>
    </div>

    <div class="steps-div">
        <div class="step-circle"></div>
        <p>Part 3</p>
        <div class="line"></div>
    </div>
</div>

    <script src="{% static 'js/classregister.js' %}"></script>
{% endblock %}