{% extends 'layout.html' %}
{% load static %}

{% block head %}
    <!-- აქ ვწერთ რაც იწერება head ტეგში -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/classregister.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/06532b8c54.js" crossorigin="anonymous"></script>
{% endblock %}

{% block title %}
Register
{% endblock %}

{% block body %}
    <!-- აქ ვწერთ რაც იწერება body ტეგში -->
    <form id="main-form" action="{% url 'classregister' %}" method="post">
    {% csrf_token %}

    <div class="steps-sec">
        <div class="steps-div">
            <div class="step-circle" id="step-circle1"></div>
            <p>Part 1</p>
            <div class="line"></div>
        </div>
        
        <div class="steps-div">
            <div class="step-circle" id="step-circle2"></div>
            <p>Part 2</p>
            <div class="line"></div>
        </div>

        <div class="steps-div">
            <div class="step-circle" id="step-circle3"></div>
            <p>Part 3</p>
        </div>
    </div>

    <!-- PART 1 -->
    <div class="container">
        <h1>ძირითადი ინფორმაცია:</h1>
        <div class="container-form">
            <label for="school">სახელი გვარი</label>
            <input type="text" id="school" name="name" required>

            <label for="city">მოგზაურობის დაწყების ადგილი</label>
            <input type="text" id="city" name="city" required>

            <label for="destination">სასურველი მოგზაურობის დასრულების ადგილი</label>
            <input type="text" id="destination" name="destination" required>

            <label for="excursion_type">ექსკურსიის ტიპი</label>
            <input type="text" id="excursion_type" name="excursion_type" required>

            <label for="accommodation_type">დარჩენის ტიპი</label>
            <input type="text" id="accommodation_type" name="accommodation_type" required>

            <button id="submit" type="button">შემდეგი <i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </div>

    <!-- PART 2 -->
    <div class="register2">
        <h1>ექსკურსიის დეტალები:</h1>
        <div class="register2-form">
            <label for="date">სასურველი თარიღი</label>
            <input type="date" id="date" name="excursion_date" required>

            <label for="approximate_age">დაახლოებითი ასაკი</label>
            <input type="text" id="approximate_age" name="approximate_age" required>

            <label for="transport">ტრანსპორტირების ტიპი</label>
            <input type="text" id="transport" name="transportation" required>

            <label for="duration">ექსკურსიის სავარაუდო ხანგრძლივობა</label>
            <input type="text" id="duration" name="probable_length" required>

            <button type="button">შემდეგი <i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </div>

    <!-- PART 3 -->
    <div class="register3">
        <h1>ბიუჯეტი:</h1>
        <div class="register3-form">
            <label for="budget">საშუალო ბიუჯეტი</label>
            <input type="number" id="budget" name="budget" min="10" max="10000" step="0.01" required>

            <label for="food">კვების მოთხოვნები</label>
            <input type="text" id="food" name="food" required>

            <label for="activities">დამატებითი აქტივობები</label>
            <input type="text" id="activities" name="activities" required>

            <label for="comment">კომენტარი</label>
            <textarea id="comment" name="comment" rows="4" cols="50"></textarea>

            <button id="last-btn" type="submit">დამატება <i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </div>

</form>

<script src="{% static 'js/classregister.js' %}"></script>
{% endblock %}
