{% extends 'layout.html' %}
{% load static %}


{% block head %}
    <!-- აქ ვწერთ რაც იწერება head ტეგში -->
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

    <!-- ამის შიგნით ვწერთ რაც იწერება title ტეგში -->
{% block title %}
    Dashboard
{% endblock %}

{% block body %}
    <!-- აქ ვწერთ რაც იწერება body ტეგში -->
    <div class="mainpart">
        <h1 class="title1">გამგზავრება:</h1>

        <table class="table1">
            <tr>
                <th class="title2">თარიღი</th>
                <th class="title2">გამგზავრების ადგილი</th>
                <th class="title2">სტატუსი</th>
            </tr>

            {% if 1 == 1 %}
                <tr>
                    <th class="title3">2025/8/05</th>
                    <th class="title3">სვანეთი, მესტია</th>
                    <th class="title3">მომავალში</th>
                    <th><button class="button2">დეტალები</button></th>
                </tr>
            {% else %}
                <tr>
                    <th></th>
                    <th class="title3">თქვენ არ გაქვთ მგზავრობა დაგეგმილი ჯერ</th>
                    <th></th>
                </tr>
            {% endif %}
        </table>
    </div>

    <script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}