{% extends 'layout.html' %}
{% load static %}


{% block head %}
    <!-- აქ ვწერთ რაც იწერება head ტეგში -->
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

    <!-- ამის შიგნით ვწერთ რაც იწერება title ტეგში -->
{% block title %}
    Dashboard
{% endblock %}

{% block body %}
    <!-- აქ ვწერთ რაც იწერება body ტეგში -->
    <div class="mainpart">
        <h1 class="title1">გამგზავრება:</h1>

        <table class="table1">
            <tr>
                <th>თარიღი</th>
                <th>გამგზავრების ადგილი</th>
                <th>სტატუსი</th>
            </tr>

            <tr>
                <th>თარიღი</th>
                <th>გამგზავრების ადგილი</th>
                <th>სტატუსი</th>
                <th><button></button></th>
            </tr>
        </table>
    </div>

    <script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}