{% extends 'layout.html' %}
{% load static %}


{% block head %}
    <!-- აქ ვწერთ რაც იწერება head ტეგში -->
    <link rel="stylesheet" href="{% static 'css/hotel.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
{% endblock %}

    <!-- ამის შიგნით ვწერთ რაც იწერება title ტეგში -->
{% block title %}
    Hotel: 
{% endblock %}

{% block body %}
    <!-- აქ ვწერთ რაც იწერება body ტეგში -->
     <div class="head-div">
     <h1>სასტუმროს სახელი</h1>
     <p>სასტუმროს სლოგანი აქ</p>
     <img id="main-img">
     </div>
<div class="services-section">
  
  <div class="card-container">
    
    <div class="card">
      <img src="https://cdn-icons-png.flaticon.com/512/854/854878.png" alt="icon" width="60" />
      <h5>გიდის მომსახურება</h5>
      <p>პროფესიონალი გიდები, რომლებიც გაგაცნობენ ქვეყანას.</p>
    </div>

    <div class="card">
      <img src="https://cdn-icons-png.flaticon.com/512/833/833316.png" alt="icon" width="60" />
      <h5>ტრანსპორტირება</h5>
      <p>კომფორტული მიკროავტობუსებითა და მძღოლებით ყველგან იმოგზაურებთ.</p>
    </div>

    <div class="card">
      <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="icon" width="60" />
      <h5>საცხოვრებელი</h5>
      <p>თანამშრომლობითი სასტუმროები და ოჯახური ტიპის განთავსება.</p>
    </div>
  </div>
</div>

<section class="imgs-sec">
  <div class="img-box img-1"></div>
  <div class="img-box img-2"></div>
  <div class="img-box img-3"></div>
  <div class="img-box img-4"></div>
</section>

<section class="amenitites">
    <div class="amenities-card">
    <h2>დამატებითი დეტალები:</h2>
    <div class="amenities-grid">
      <div class="amenity"><i class="fas fa-wifi"></i><span>Wi-Fi</span></div>
      <div class="amenity"><i class="fas fa-swimmer"></i><span>აუზი</span></div>
      <div class="amenity"><i class="fas fa-spa"></i><span>სპა & მასაჟი</span></div>
      <div class="amenity"><i class="fas fa-concierge-bell"></i><span>ოთახის სერვისი</span></div>
      <div class="amenity"><i class="fas fa-snowflake"></i><span>კონდიციონერი</span></div>
      <div class="amenity"><i class="fas fa-square-parking"></i><span>პარკინგი</span></div>
      <div class="amenity"><i class="fas fa-water"></i><span>ზღვის ხედი</span></div>
      <div class="amenity"><i class="fas fa-utensils"></i><span>3-ჯერადი კვება</span></div>

    </div>
  </div>
</section>


<section class="contact-section">
  <h1>მძღოლთან დაკავშირება</h1>
    <div class="contact-wrapper">
      <div class="contact-card">
        <div class="contact-icon">📞</div>
        <div class="contact-title">ტელეფონის ნომერი</div>
        <div class="contact-info">+955 XXX XXX XXX</div>
      </div>
      <div class="contact-card">
        <div class="contact-icon">📧</div>
        <div class="contact-title">ელ-ფოსტა</div>
        <div class="contact-info">info@example.com</div>
      </div>
      <div class="contact-card">
        <div class="contact-icon">📍</div>
        <div class="contact-title">მისამართი</div>
        <div class="contact-info">რავიცის 21<br>ბათუმი, აჭარა</div>
      </div>
    </div>
  </section>

    <script src="{% static 'js/hotel.js' %}"></script>
{% endblock %}