{% extends 'layout.html' %}
{% load static %}


{% block head %}
    <!-- აქ ვწერთ რაც იწერება head ტეგში -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
{% endblock %}

    <!-- ამის შიგნით ვწერთ რაც იწერება title ტეგში -->
{% block title %}
    index
{% endblock %}

{% block body %}
    <!-- აქ ვწერთ რაც იწერება body ტეგში -->
     <div id="header-div">
        <div id="header-div-text">
            <h1>დაგეგმე შენი კლასის ექსკურსია მარტივად!</h1>
            <p>აირჩიე თარიღი და ადგილი — ჩვენ მოვუძებნით <br> სასტუმროს, ტრანსპორტს და აქტივობებს, რომ  <br> ბავშვებმა დაუვიწყარი დღე გაატარონ.</p>
            <button>დაიწყე დაგეგმვა</button>
        </div> 
        <img src="{% static 'pics/logo.png' %}" alt="">
     </div>

     <section id="steps-section">
        <h2>ყველაფერი 3 ნაბიჯში მიმდინარეობს</h2>
        <div class="step">
            <div class="circle">1</div>
            <p><strong>რეგისტრაცია</strong> — შეიყვანე კლასის პროფილი</p>
        </div>
        <div class="step">
            <div class="circle">2</div>
            <p><strong>გემის შერჩევა</strong> — მიუთითე თარიღი, ადგილი და ბიუჯეტი</p></div>
            <div class="step">
                <div class="circle">3</div>
                <p><strong>შეთავაზებების მიღება</strong> — ნახავ სასტუმროებს, ტრანსპორტსა და აქტივობებს</p>
            </div>
            <div class="step">
                <div class="circle">4</div>
                <p><strong>დაკონკრეტება</strong> — აირიე ვარიანტი და დაგვიკავშირდი მომწოდებელთან პირდაპირ</p>
            </div>
        </section>
        
        <section id="offer-section">
    <div class="offer-left">
        <h2>რატომ ჩვენ?</h2>
        <ul>
            <li><span class="dot"></span> ყველა საჭირო სერვისი ერთ საიტზე</li>
            <li><span class="dot"></span> დროისა და ენერგიის დაზოგვა</li>
            <li><span class="dot"></span> სანდო ტრანსპორტის და სასტუმროს ვარიანტები</li>
            <li><span class="dot"></span> მარტივი შედარება ფასებისა და პირობების</li>
            <li><span class="dot"></span>PDF ანგარიში კლასის ხელმძღვანელისთვის</li>
        </ul>
    </div>
    <div class="offer-right">
        <h3>საოჯახო სასტუმრო იელის შესახებ</h3>
        <div class="hotel-top">
            <div id="star">
            <p>საოჯახო სასტუმრო იელი</p>
            <p><strong>⭐️⭐️⭐️⭐️⭐️</strong></p>
            <p>250 ლარი დღეში</p>
        </div>
        <div class="hotel-image-placeholder"></div>
    </div>
        <div class="hotel-info">
            <p>🏨 2 ღამის განთავსება</p>
            <p>🚌 ტრანსპორტი შესულია</p>
            <p>🍽️ 3-ჯერადი კვება</p>
        </div>
        <button class="offer-button">დაიწყე დაგეგმვა</button>
    </div>
    </section>

   <section id="faq-sec">
  <h2>FAQ</h2>
<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Accordion Item #1
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item’s accordion body.</div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Accordion Item #2
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item’s accordion body. Let’s imagine this being filled with some actual content.</div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Accordion Item #3
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item’s accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
    </div>
  </div>

    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
        Accordion Item #4
      </button>
    </h2>
    <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item’s accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
    </div>
  </div>

    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
        Accordion Item #5
      </button>
    </h2>
    <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item’s accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
    </div>
  </div>

    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
        Accordion Item #6
      </button>
    </h2>
    <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item’s accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
    </div>
  </div>

    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
        Accordion Item #7
      </button>
    </h2>
    <div id="flush-collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item’s accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
    </div>
  </div>

    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
        Accordion Item #8
      </button>
    </h2>
    <div id="flush-collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item’s accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
    </div>
  </div>
</div>
</section>


    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
{% endblock %}