{% extends 'layout.html' %}
{% load static %}


{% block head %}
    <!-- აქ ვწერთ რაც იწერება head ტეგში -->
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

    <!-- ამის შიგნით ვწერთ რაც იწერება title ტეგში -->
{% block title %}
Login
{% endblock %}

{% block body %}
    <!-- აქ ვწერთ რაც იწერება body ტეგში -->
     <h2>SkolaTrip</h2>
      <button class="sign-up-btn">Sign Up</button>
      <button class="lang-btn">Geo</button>
      <form class="form-cont">
        <div class="login-cont">
            <h4>Name (Class Leader)</h4>
            <input id="name" placeholder="Name"></input>
        </div>
      </form>
    <script src="{% static 'js/login.js' %}"></script>
{% endblock %}