{% extends 'layout.html' %}
{% load static %}


{% block head %}
    <!-- აქ ვწერთ რაც იწერება head ტეგში -->
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian&display=swap" rel="stylesheet">
{% endblock %}

    <!-- ამის შიგნით ვწერთ რაც იწერება title ტეგში -->
{% block title %}
Login
{% endblock %}

{% block body %}
    <!-- აქ ვწერთ რაც იწერება body ტეგში -->

    <img src="{% static 'pics/schooltrip.jpg'%}" alt="">
    <form class="form-cont">
        <div class="login-cont">
            <h2>SkolaTrip შესვლა</h2>
            <h4>ელ-ფოსტა</h4>
            <input id="name"></input>

            <h4>პაროლი</h4>
            <input id="num">

            <button class="login-btn">შესვლა</button>
            <p>არ გაქვს ანგარიში? <a href="register.html">დარეგისტრირდი აქ</p>
        </div>
               
            
      
    <script src="{% static 'js/login.js' %}"></script>
{% endblock %}