{% extends 'layout.html' %}
{% load static %}


{% block head %}
    <!-- აქ ვწერთ რაც იწერება head ტეგში -->
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian&display=swap" rel="stylesheet">
{% endblock %}

    <!-- ამის შიგნით ვწერთ რაც იწერება title ტეგში -->
{% block title %}
Register
{% endblock %}

{% block body %}
    <!-- აქ ვწერთ რაც იწერება body ტეგში -->
    <div class="register-wrapper">
        <!-- Left side image -->
        <div class="register-image">
            <img src="{% static 'pics/school_trip.jpg' %}" alt="School Trip">
        </div>
    
        <!-- Right side form -->
        <form class="form-cont" action="{% url 'register' %}" method="post">
    {% csrf_token %}
    <div class="login-cont">
        <h2>SkolaTrip რეგისტრაცია</h2>

        <label>სრული სახელი (კლასის ლიდერის)</label>
        <input type="text" name="full_name" required>

        <label>ტელეფონის ნომერი</label>
        <div class="reg-numb">
            <input class="reg-numbers" value="+995" readonly>
            <input class="number" type="text" name="phone_number" required>
        </div>

        <label>ელ-ფოსტა</label>
        <input type="email" name="email" required>

        <label>მომხმარებლის სახელი</label>
        <input type="text" name="username" required>

        <label>პაროლი</label>
        <input type="password" name="password1" required>

        <label>გაიმეორე პაროლი</label>
        <input type="password" name="password2" required>

        <label>კლასის დასახელება</label>
        <input type="text" name="class_name" required>

        <label>მოსწავლეების რაოდენობა</label>
        <input type="number" name="student_count" required>

        <button type="submit" class="register-btn">დარეგისტრირდი ახლავე</button>
        <p>უკვე გაქვს ანგარიში? <a href="{% url 'login' %}">შედი აქ</a></p>
    </div>
</form>

    </div>

    <script src="{% static 'js/register.js' %}"></script>
{% endblock %}