{% extends 'layout.html' %}
{% load static %}


{% block head %}
    <!-- აქ ვწერთ რაც იწერება head ტეგში -->
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian&display=swap" rel="stylesheet">
{% endblock %}

    <!-- ამის შიგნით ვწერთ რაც იწერება title ტეგში -->
{% block title %}
Register
{% endblock %}

{% block body %}
    <!-- აქ ვწერთ რაც იწერება body ტეგში -->
    <form class="form-cont">
        <div class="login-cont">
            <h4>სახელი (კლასის ლიდერის)</h4>
            <input id="name"></input>

            <h4>ტელეფონის ნომერი</h4>
            <div class="reg-numb">
                <input id="num" class="reg-numbers">
                <input id="numb" class="number"></input>
            </div>
            

            <h4>ელ-ფოსტა</h4>
            <input id="email"></input> 

            <h4>პაროლი</h4>
            <input id="pass"></input>

            <h4>კლასის დასახელება (მაგ: ბათუმის მე-10 საჯარო სკოლა 9ა კლასი)</h4>
            <input id="class-name"></input>

            <h4>მოსწავლეების რაოდენობა</h4>
            <input type="number"></input>
            
            <button class="register-btn">დარეგისტრირდი</button>
            <p>უკვე გაქვს ანგარიში? <a href="login.html">შედი აქ</p>
            
        </div>
      
      </form>
      

    <script src="{% static 'js/register.js' %}"></script>
{% endblock %}