{% extends 'layout.html' %}
{% load static %}


{% block head %}
    <!-- აქ ვწერთ რაც იწერება head ტეგში -->
    <link rel="stylesheet" href="{% static 'css/thetrip.css' %}">
{% endblock %}

    <!-- ამის შიგნით ვწერთ რაც იწერება title ტეგში -->
{% block title %}
    Trip
{% endblock %}

{% block body %}
    <!-- აქ ვწერთ რაც იწერება body ტეგში -->
<section class="pricing-section">
  <h2 class="section-title">მარშრუტის სერვისი</h2>
  <p class="section-subtitle">შეარჩიე პაკეტი რომელიც დაგეხმარება სწორად დაგეგმო ფასიანი მარშრუტები</p>

  <div class="pricing-grid">
    <div class="pricing-card">
      <div class="circle-icon"></div>
      <h3>ერთჯერადი პაკეტი</h3>
      <ul>
        <li>მარშრუტი 1</li>
        <li>მარშრუტი 2</li>
        <li>მარშრუტი 3</li>
      </ul>
      <button class="buy-btn">შეძენა</button>
    </div>

    <div class="pricing-card featured">
      <div class="circle-icon"></div>
      <h3>ერთჯერადი პაკეტი 2</h3>
      <ul>
        <li>მარშრუტი 1</li>
        <li>მარშრუტი 2</li>
        <li>მარშრუტი 3</li>
        <li>მარშრუტი 4</li>
        <li>მარშრუტი 5</li>
      </ul>
      <button class="buy-btn">შეძენა</button>
    </div>

    <div class="pricing-card">
      <div class="circle-icon"></div>
      <h3>მრავალჯერადი პაკეტი</h3>
      <ul>
        <li>მარშრუტი 1</li>
        <li>მარშრუტი 2</li>
        <li>მარშრუტი 3</li>
        <li>მარშრუტი 4</li>
        <li>მარშრუტი 5</li>
        <li>მარშრუტი 6</li>
        <li>მარშრუტი 7</li>
      </ul>
      <button class="buy-btn">შეძენა</button>
    </div>
  </div>
</section>

<div class="services-section">
   <h2>რას დაათვალიერებთ?</h2> 
  <div class="card-container">
    <div class="card">
      <div class="circle"></div>
      <h3>ნაწილი 1</h3>
      <p>ნაწილი 1-ს ახსნა </p>
    </div>
    <div class="card">
      <div class="circle"></div>
      <h3>ნაწილი 2</h3>
      <p>ნაწილი 2-ს ახსნა</p>
    </div>
    <div class="card">
      <div class="circle"></div>
      <h3>ნაწილი 3</h3>
      <p>ნაწილი 3-ს ახსნა</p>
    </div>
  </div>
</div>

<section class="asym-grid">
  <div class="box box-1"></div>
  <div class="box box-2"></div>
  <div class="box box-3"></div>
  <div class="box box-4"></div>
  <div class="box box-5"></div>
</section>


    <script src="{% static 'js/thetrip.js' %}"></script>
{% endblock %}